<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Simple Blog Sample</title>
</head>
<body>
  <header>
      <!-- header content here -->
      <img src="../static/pics/businessPlanBoxes.jpg" width="500"/>
      <nav>
        <a href="">home</a>
        <a href="">menu 1</a>
        <a href="">menu 2</a>
        <a href="">menu 3</a>
      </nav>
      <form>
        <input type='text' placeholder='search'>
      </form>
  </header>
    
  <section>
      <!-- sidebar content here -->
      <!-- divs used as widget containers -->
      <div>
        <h2>Latest Stories</h2>
        <a href="">JavaScript Strikes Again</a>
        <a href="">Best Kept CSS Secrets</a>
        <a href="">HTML went on a hike and got lost</a>
      </div> 
      <div>
        <h2>Featured Author</h2>
        <p>Aphinya Dechalert</p>
        <p><a href="">@dottedsquirrel</a><p>
        <img src="https://via.placeholder.com/150"/>
      </div>
      <div></div>
  </section>
    
  <main>
      <!-- for the main article section -->
       <article>
         <h1>Blog Post Heading</h1>
         <h2>some awesome sub title here</h2>
         <p>17th August 2021 / by Aphinya Dechalert / Tags: <a href="">HTML</a> , <a href="">CSS</a></p>
         <img src="https://via.placeholder.com/150"/>
         <img src="https://via.placeholder.com/150"/>
         <p>Biscuit tiramisu pastry sugar plum ice cream sesame snaps oat cake. 
           Candy canes jelly beans jujubes jelly-o muffin halvah gingerbread cotton candy. 
           Tart chocolate bar tart sweet marzipan dessert marshmallow biscuit pie. 
           Chocolate bar cupcake I love pastry caramels cupcake jelly dragée. 
           Candy pastry carrot cake.<p>
         
         <p>Cake fruitcake soufflé I love oat cake cake soufflé. 
           Jelly-o lemon drops sugar plum danish ice cream fruitcake bear claw icing jujubes. 
           Pie toffee jujubes biscuit. 
           Sesame snaps sesame snaps jujubes cheesecake cookie cake.</p>

         <p>Cheesecake candy donut tart tiramisu chocolate donut. 
           Marshmallow I love I love. 
           Sweet roll jelly soufflé sugar plum oat cake macaroon. 
           Sugar plum oat cake cake brownie I love donut sesame snaps bonbon.</p>
         
         <p>Cake fruitcake soufflé I love oat cake cake soufflé. 
           Jelly-o lemon drops sugar plum danish ice cream fruitcake...</p>

       </article>
      <!-- for the 'more articles' section -->
       <section>
         <h2>More Articles</h2>
         <img src="https://via.placeholder.com/150"/>
         <img src="https://via.placeholder.com/150"/>
         <img src="https://via.placeholder.com/150"/>
       </section> 
  </main>
    
  <footer>
      <!-- footer content here -->
      <p>Copyright. Cupcake Zone.</p>
  </footer>
</body>
</html>